-r requirements.txt

pysqlite
git+https://github.com/yedpodtrzitko/django-taggit.git#egg=django-taggit
git+git://github.com/ella/ella-galleries.git
-e git+gitolite@git.smdev.cz:ella-wikipages#egg=ella-wikipages

sphinx
nose
coverage
